<header>
	<details {{ "open" if not weather }}>
		<summary>
			{% if weather %}
				{{locationInfo.name}}
			{% else %}
				Select Location
			{% endif %}
		</summary>
		<form action="{{locationSearchFormURL}}" method="GET">
			<fieldset>
				<label for="query">Query</label>
				<input required type="text" name="query" id="query" placeholder="brighton">
			</fieldset>
	
			<fieldset class="form-search-options">
				<p>
					Search Type
				</p>

				<div>
					<input type="radio" id="location" name="query-type" value="location" checked>	
					<label for="location">Location</label><br>
				</div>
				<div>
					<input type="radio" id="coordinates" name="query-type" value="coordinates">	
					<label for="coordinates">Coordinates</label><br>
				</div>
			</fieldset>
	
			<button type="submit">Search</button>
		</form>
	</details>

	{% if weather %}
		<details>
			<summary>
				{% for timeOption in timeOptions %}
					{% if timeOption.selected %}
						{{timeOption.label}}
					{% endif %}
				{% endfor %}
			</summary>
				<ul>
					{% for timeOption in timeOptions %}
						<li>
							{% if timeOption.selected %}
								<span>{{timeOption.label}}</span>		
							{% else %}
								<a href="{{timeOption.url}}">
									{{timeOption.label}}
								</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>

		</details>
	{% endif %}
</header>

{% if weather %}

	<div class="clothes-container">
		<ul class="clothes-list">
			{% for garment in clothes.individualItems %}
				<li>
					{% set imageUrl = rev('img/clothes/garments/' + garment[0] + '.svg') %}
					<span>{{ garment[1] }}</span>
					<img src="{{imageUrl}}" alt="{{garment[1]}}">
				</li>
			{% endfor %}
		</ul>

		{% set imageUrl = rev('img/clothes/outfits/' + clothes.mainImage) %}
		<div class="clothes-outfit">
			<img src="{{imageUrl}}" />
		</div>
	</div>
  

{% endif %}

{% if weather %}
	<section>
		<ul class="weather-extra">
			<li>
				{% set imageUrl = rev('img/weather-icons/' + weather.weatherIcon + '-s.png') %}
				<img src="{{imageUrl}}" alt="{{weather.weatherText}}" />
			</li>

			<li class="weather-extra-temperature">
				<span class="weather-extra-temperature--regular">
					{{weather.temperature}}°
				</span>
				
				<span class="weather-extra-temperature--real-feel">
					RealFeel {{weather.realFeelTemperature}}°
				</span>
			</li>

			<li class="weather-metadata">
				<p>
					{{weather.weatherText}}
				</p>

				<p>
					{{weather.rainInfoText}}
				</p>

				<p>
					Wind {{weather.windDirection}} {{weather.windSpeed}}
				</p>

				<p>
					Gusts {{weather.windGust}}
				</p>
			</li>
		</ul>

		<p class="refresh-message">
			Last updated <time datetime="{{dataLastUpdated.rawTime}}">{{dataLastUpdated.friendlyTime}}</time>. Time for a <a href="{{forceWeatherUpdateLink}}">refresh</a>?
		</p>
	</section>
{% endif %}