@mixin container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-width;
	padding: 15px;
	max-width: 600px;
}

* { box-sizing: border-box }

body {
	color: white;
    font-family: 'HelveticaNeue', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background: linear-gradient(#36A9E1, #2581C4);
	min-height: -webkit-fill-available;
}

h4 {
	font-size: 21px;
}

ul {
	list-style-type: none;
}

ul, ol {
	padding-left: 0;
	margin: 0;
}

p {
	font-size: 18px;
}

a {
	color: #00B7FF;
}

.alert {
	@include container;

	width: $container-width;
	max-width: 95%;
	margin-top: 20px;
	margin-bottom: 1rem;
	word-break: break-word;
	line-height: 1.5;
	background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.05);
    padding: 2rem;
    position: relative;
    // overflow: hidden;
}

.alert::before {
	content: '';
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}

.alert__danger::before {
	$red: #cf6c63;
	$lighter-red: lighten($red, 10%);
    background: linear-gradient(to right, $red 0%,$lighter-red 100%);
}

.alert__success::before {
	$lighter-primary-green: lighten($primary-green, 20%);
    background: linear-gradient(to right, $primary-green 0%, $lighter-primary-green 100%);
}

.container {
	@include container;
}

input[type="submit"],
button[type="submit"] {
	font-size: 15px;
	padding: 10px;
	cursor: pointer;
}

.form-group {
	margin: 25px 0;
	display: flex;
	flex-direction: column;
	max-width: 350px;

	label {
		margin-bottom: 10px;
	}

	button[type="submit"],
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		padding: 10px;
		border: 1px solid #ddd;
		font-size: 15px;
	}
}
