@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueBold.woff2') format('woff2'),
        url('foo/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueRegular.woff2') format('woff2'),
        url('foo/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueItalic.woff2') format('woff2'),
        url('foo/HelveticaNeueItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueThin.woff2') format('woff2'),
        url('foo/HelveticaNeueThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueHeavy.woff2') format('woff2'),
        url('foo/HelveticaNeueHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueBold.woff2') format('woff2'),
        url('foo/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('foo/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueMedium.woff2') format('woff2'),
        url('foo/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueLight.woff2') format('woff2'),
        url('foo/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueLight.woff2') format('woff2'),
        url('foo/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('foo/HelveticaNeueMedium.woff2') format('woff2'),
        url('foo/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}