// TODO: the URLs below should not be hardcoded

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueBold.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueRegular.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueItalic.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueThin.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueHeavy.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueBold.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueMedium.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueLight.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueLight.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/accumark/assets/font/HelveticaNeueMedium.woff2') format('woff2'),
        url('/accumark/assets/font/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}