@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueBold.woff2') format('woff2'),
        url('/font/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueRegular.woff2') format('woff2'),
        url('/font/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueItalic.woff2') format('woff2'),
        url('/font/HelveticaNeueItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueThin.woff2') format('woff2'),
        url('/font/HelveticaNeueThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueHeavy.woff2') format('woff2'),
        url('/font/HelveticaNeueHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueBold.woff2') format('woff2'),
        url('/font/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('/font/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueMedium.woff2') format('woff2'),
        url('/font/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueLight.woff2') format('woff2'),
        url('/font/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueLight.woff2') format('woff2'),
        url('/font/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/font/HelveticaNeueMedium.woff2') format('woff2'),
        url('/font/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}