h1 {
	
}

button[type="submit"] {
    padding: 5px;
    margin-top: 10px;
}

fieldset {
    margin-top: 15px;
    border-style: solid;
    border-color: #efefef;
}

a {
	color: white;
}

header summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.weather-extra {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    display: flex;
    align-items: start;
    justify-content: space-between;

    img {
        margin-left: -14px;
    }
}

.weather-extra-temperature {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
}

.weather-extra-temperature--regular {
    font-size: 45px;
    line-height: 45px;
}

.weather-extra-temperature--real-feel {
    font-size: 14px;
}

.weather-metadata {
}

.weather-metadata p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
}

.refresh-message {
    font-size: 13px;
    text-align: center;;
    font-style: italic;

    a {
        text-decoration: none;
        color: #298ece;
        background: white;
        padding: 2px;
        border-radius: 3px;
        margin-left: 2px;
    }
}

.clothes-container {
    flex-grow: 1;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.clothes-list {
    flex: 2;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding-top: 2px;
        padding-bottom: 2px;

        img {
            height: auto;
            max-width: 40px;
        }
    }

    li:last-child {
        border-bottom: none;
    }

    span {
        font-size: 12px;
        font-weight: bold;
        margin-right: 20px;
    }
}

.clothes-outfit {
    flex: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;

    img {
        display: none;
    }
}