<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpeg" href="{{rev('img/favicon.png')}}" />

    {% if title %}
      <title>{{ title }} - {{config.productName}}</title>
    {% else %}
      <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{rev('css/main.css')}}">
    {% block css %}{% endblock %}

    {% include "./partials/analytics.html" %}
  </head>
  <body>
      {% include "./partials/flash.html" %}
      {% block content %}{% endblock %}
    <script async src="{{rev('js/main.js')}}"></script>
    {% block js %}{% endblock %}

    {% if config.shouldEnableDevelopmentLiveReloadScript %}
      <script>
        (function injectLiveReloadScript() {
          if (location.protocol === 'https') {
            return;
          } else {
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js?snipver=1"></' + 'script>');
          }
        }())
      </script>
    {% endif %}
  </body>
</html>
